<meta charset="UTF-8">
<style>@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic');
    style {
        display: none !important;
    }
    ._customer-db {
        display: block !important;
        background: #fff;
        padding: 20px 0;
        margin-bottom: 30px;
        font: normal 16px/1.4 Roboto, Arial, sans-serif !important;
    }
    ._customer-db__cnt {
        display: inline-block !important;
        vertical-align: middle;
        width: 190px;
        box-sizing: border-box;
        position: relative;
        margin: 0 !important;
        color: #333333;
    }
    ._customer-db__cnt span {
        font-weight: 700;
    }
    ._customer-db__btn {
        display: inline-flex !important;
        vertical-align: middle;
        justify-content: center;
        align-items: center;
        background: #C4E7FB;
        border-radius: 3px;
        min-width: 300px;
        box-sizing: border-box;
        padding: 12px 10px 13px;
        text-decoration: none !important;
    }
    ._customer-db__btn:hover {
        opacity: 0.85;
    }
    ._customer-db__btn-img {
        margin-right: 20px;
    }
    ._customer-db__btn-cnt {
        font-size: 16px !important;
        color: #020202;
        font-weight: 700;
    }
</style>

<div class="_customer-db">
    <p class="_customer-db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter47001450.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn"
       href="https://st4.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/020/795/Электромонтажная_продукция.xlsx?1548622131">
        <img class="_customer-db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-db__btn-cnt">Электромонтажная продукция.xlsx</span>
    </a>
</div>

<div class="_customer-db">
    <p class="_customer-db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter47001450.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn"
       href="https://st4.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/020/796/Щитовое_оборудование.xlsx?1548622131">
        <img class="_customer-db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-db__btn-cnt">Щитовое оборудование.xlsx</span>
    </a>
</div>

<div class="_customer-db">
    <p class="_customer-db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter47001450.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn"
       href="https://st4.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/020/797/Светотехнические_изделия.xlsx?1548622131">
        <img class="_customer-db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-db__btn-cnt">Светотехнические изделия.xlsx</span>
    </a>
</div>

<div class="_customer-db">
    <p class="_customer-db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter47001450.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn"
       href="https://st4.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/020/798/Низковольтное_оборудование.xlsx?1548622131">
        <img class="_customer-db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-db__btn-cnt">Низковольтное оборудование.xlsx</span>
    </a>
</div>

<div class="_customer-db">
    <p class="_customer-db__cnt">Скачать прайс-лист</p>
    <a onclick="yaCounter47001450.reachGoal('megasite_comblock_download'); return true;" class="_customer-db__btn"
       href="https://st4.stpulscen.ru/apress/companies/pages/blocks/file_blocks/attachments/000/020/799/Кабельная_продукция.xlsx?1548622131">
        <img class="_customer-db__btn-img" src="img/block_download/download.png" />
        <span class="_customer-db__btn-cnt">Кабельная продукция.xlsx</span>
    </a>
</div>