<meta charset="UTF-8">
<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic" rel="stylesheet" />
<style type="text/css">
	/*Toolbar*/
._customer-toolbar {
	width: 100%;
	background: #C4E7FB;
	font: normal 16px/1 'Roboto', Arial, sans-serif;
	color: #020202;
}
._customer-toolbar__cont {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	max-width: 1227px;
	margin: 0 auto;
	padding: 0 50px 0 40px;
	box-sizing: border-box;
}
._customer-toolbar ul {
	display: flex;
	padding: 0;
	list-style: none !important;
	margin: 0 !important;
}
._customer-toolbar__list li {
	margin-right: 20px;
}
._customer-toolbar ul:last-child {
	margin-right: 0;
}
._customer-toolbar__list a {
	display: flex;
	align-items: center;
	height: 55px;
	color: inherit !important;
	text-decoration: none;
}
._customer-toolbar {
	margin: 0;
}
._customer-toolbar a:hover {
	text-decoration: underline;
}
._customer-toolbar ._customer-toolbar__logo {
	width: 39px;
	height: 40px;
}
._customer-toolbar ._customer-toolbar__logo:hover {
	text-decoration: none;
}
._customer-toolbar__contact {
	box-sizing: border-box;
	position: relative;
}
._customer-toolbar__contact a {
	margin-left: 30px;
	margin-right: 0;
}
._customer-toolbar__contact:before {
	content: "";
	display: block;
	width: 18px;
	height: 18px;
	background-position: center;
	background-repeat: no-repeat;
	position: absolute;
	top: calc(50% - 9px);
	left: 3px;
}
._customer-toolbar__contact_phone:before {
	background-image: url('img/toolbar/phone.png');
}
._customer-toolbar__contact_mail:before {
	background-image: url('img/toolbar/mail.png');
}
._customer-search {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 230px;
	height: 36px;
	box-sizing: border-box;
	border: 1px solid #BDBDBD;
	overflow: hidden;
	position: relative;
	margin: 0 !important;
}
._customer-search .sf-input-wrapper {
	width: 100%;
	height: 100%;
}
._customer-search input {
	width: 100%;
	height: 100% !important;
	box-sizing: border-box;
	border: none;
	outline: none;
	padding: 0 40px 0 10px !important;
	background-color: #fff;
	font: normal 12px/1 'Roboto', Arial, sans-serif !important;
	color: #828282;
}
._customer-search button {
	width: 36px !important;
	height: 36px !important;
	background-color: #E0E0E0;
	background-repeat: no-repeat !important;
	background-position: center !important;
	position: absolute;
	top: -1px;
	right: -1px;
	cursor: pointer;
	border: none;
	border-left: 1px solid #BDBDBD;
	box-sizing: border-box;
	outline:none !important;
	opacity: 1 !important;
}
._customer-search button:before {
	width: 36px !important;
	height: 36px !important;
	content: url('img/toolbar/search.png') !important;
	position: absolute;
	top: 1px;
	right: -1px;
	padding-top: 10px;
}
._customer-search button:hover {
	opacity: .85 !important;
}
._customer-search button:active {
	opacity: .7 !important;
}
@media (max-width: 1055px) {
	._customer-toolbar__list li {
		margin-right: 5px;
	}
}
  /*end Toolbar*/
</style>
<!--Toolbar-->
<div class="_customer-toolbar">
<div class="_customer-toolbar__cont">
	<div class="_customer-toolbar__logo">
		<a href="http://www.electroprofi-perm.ru/" title="На главную">
			<img src="img/toolbar/logo.png" />
		</a>
	</div>
	<ul class="_customer-toolbar__list">
		<li>
			<a href="/about">О компании</a>
		</li>
		<li>
			<a href="/catalog">Ассортимент</a>
		</li>
		<li>
			<a href="/contacts">Контакты</a>
		</li>
	</ul>
<form accept-charset="UTF-8" accept-encoding="UTF-8" action="http://www.electroprofi-perm.ru/catalog"
	  class="_customer-search search-form with-search-icon" method="get" onsubmit="formSubmitter.disableButtons(this, null, null);">
	<div style="margin:0;padding:0;display:none"><input name="utf8" type="hidden" value="✓" /></div>
<div class="sf-input-wrapper">
	<input class="sf-input js-reset-field" id="q2" maxlenght="255" name="q" placeholder="Найти товар или услугу..." type="text" />
</div>
<button class="custom-button" name="commit" type="submit" value="Поиск"></button>
</form>
<ul class="_customer-toolbar__list">
	<li class="_customer-toolbar__contact _customer-toolbar__contact_phone">
		<a href="tel:+73422700512"
		   onclick="yaCounter47001450.reachGoal('megasite_toolbar_email'); return true;">+7 (342) 270-05-12</a>
	</li>
	<li class="_customer-toolbar__contact _customer-toolbar__contact_mail">
		<a href="mailto:petrov@bm-tech.ru"
		   onclick="yaCounter47001450.reachGoal('megasite_toolbar_tel'); return true;">petrov@bm-tech.ru</a>
	</li>
</ul>
</div>
</div>
<!--end Toolbar-->
